.reserva {
  background-image: url('assets/reserva.png');
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.foco-incendio {
  background-image: url('assets/foco.gif');
  position: absolute;
  z-index: 2;
}

.foco-caveira {
  background-image: url('assets/caveira.gif');
  position: absolute;
  z-index: 3;
}

.vida {
  background-image: url('assets/arvore.png');
  z-index: 2;
}

.caixa {
  position: absolute;
  z-index: 1;
}

.points{
  position: absolute;
  z-index: 2;
  font-size: 50px;
  color: white;
  text-align: center;
}